name: Valid YAML syntax
on: [push, pull_request]

jobs:
  validate-yaml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v35
        with:
          files: |
            *.yaml
            
      - uses: actions/checkout@v3
      - name: Validate YAML file
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            yamllint -d relaxed $file
          done
