name: Valid YAML syntax
on: [push, pull_request]

jobs:
  validate-yaml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v35
        with:
          files: |
            **.yaml
            
      - name: Validate YAML file
        if: steps.changed-files-excluded.outputs.any_changed == 'true'
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            yamllint -d relaxed -f parsable ${file}
          done
